:root {
    --klar-progress-bar-color: #D9534F;
    --klar-lesson-header-bg: #f8f9fa; /* Bootstrap .bg-light */
    --klar-main-navbar-height: 60px; /* Define height for the fixed top navbar */
}

body {
    font-family: var(--source-sans-pro);
    font-weight: 400;
    line-height: 1.7;
    background-color: var(--klar-main-bg);
    color: var(--klar-body-text-color);
    font-size: var(--base-font-size);

}


.lesson-card {
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.lesson-card:hover {
    transform: scale(1.02);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.badge-status {
    font-size: 0.9rem;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Style for Inactive Cards */
.inactive-card {
    filter: brightness(0.6) grayscale(0.3);

}
